.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.26);
}

.header__left {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.header__left > img {
  margin-left: 10px;
}

.header__left > .MuiSvgIcon-root {
  margin-top: 15px;
}

.header__middle {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.header__searchContainer {
  height: 40px;
  padding: 8px;
  display: flex;
  border-radius: 5px;
  background-color: rgba(173, 173, 173);
  width: 40vw;
}

.header__searchContainer > input {
  padding: 5px;
  margin: 2px;
  width: 26vw;
  outline: none;
  border: none;
  background-color: rgba(173, 173, 173);
  margin-left: 10px;
  font-size: large;
  flex: 1;
}

.header__searchContainer > input::placeholder {
  color: #ddd;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.headerRightIcons {
  display: flex;
}

.headerRightIcons > .MuiSvgIcon-root {
  margin-right: 1.5vw;
  font-size: x-large;
  color: rgba(255, 255, 255, 0.938);
}

.MuiSvgIcon-root {
  color: white;
  cursor: pointer;
}
